/*Sign in button*/
button{
    float:right;
    background-color:#1A73E8;
    outline:none;
    border-radius:6px;
    padding:10px 20px 10px 20px;
    border:1px solid #1A73E8;
    color:#FFFFFF;
    position:relative;
    top:15vh;
    cursor:pointer;
  }
  
  /*<h1> tag*/
  h1{ 
    font-size:40px;
    margin-top:150px;
  }
  
  /*Google logo colors*/
  .g-blue{ color:#4285F4; }
  .o-red{ color:#DB4437; }
  .o-yellow{ color:#F4B400; }
  .l-green{ color:#0F9D58; }
  .e-red{ color:#DB4437; }
  
  /*Search*/
  input{
    width:84%;
    margin-left:5%;
    border:1px solid #DADCE0;
    border-radius:20px;
    outline:none;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:3%;
    padding-right:3%;
  }
  
  h4{
    margin-left:8%;
    margin-top:40px;
  }
  
  ul{
    width:90%;
    list-style-type: none;
    margin-left:5%;
    padding: 0;
    overflow: hidden;
  }
  
  li a{
    display: block;
    padding: 10px;
    text-decoration:none;
    color:#303030;
    border-bottom:1px solid #DADCE0;
  }
  
  li a i{
    margin-right:30px;
  }
  